---
interface Props {
	title: string;

}

const {title } = Astro.props;
---

<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1>¡Hola, mundo!</h1>
    <p>Este es tu primer sitio web con Astro.</p>
  </body>
</html>
