---
import HeadHTML from "@/components/HeadHTML.astro";
---

<!doctype html>
<html lang="es">
    <HeadHTML title="D4bit's Portfolio" />
    <body>
        <div>
            <main>
                <slot />
            </main>
            <footer></footer>
        </div>
    </body>
</html>
